.table {
  border: 2px solid black;
  width: 33%;
  margin: auto;
  margin-top: 2%;
}
.body td,
th,
.footer td {
  border: 1px solid black;
  padding: 8px;
}
.body td:nth-child(2),
.footer td:nth-child(2) {
  text-align: center;
  width: 12%;
}
.body input {
  margin: 3px 1px;
  width: 80%;
  text-align: center;
}

.heading {
  text-align: center;
  margin-top: 4%;
}

.date {
  padding: 8px;
}

.btn {
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background-color: #3e3e3e;
  padding: 6px 10px;
  margin: 10px 60%;
  width: 6%;
}
