.heading {
  width: 100%;
  border: 2px solid transparent;
  background-color: rgba(82, 82, 189, 0.774);
  box-shadow: 0 0 4px black;
  height: 80px;
}

.heading h1 {
  margin: 21px 0px;
  margin-left: 60px;
  display: inline-block;
}

.btn{
  float: right;
  margin: 21px 10px;
  display: contents;
}

.btn button {
  margin: 0 10px;
  background-color: #383838;
  color: white;
}
.btn button:hover {
  background-color: #494949;
  color: black;
}
